<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GitHub registry" value="https://nuget.pkg.github.com/lkksppsss/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub_x0020_registry>
            <add key="Username" value="lkksppsss" />
            <add key="ClearTextPassword" value="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" />
        </GitHub_x0020_registry>
    </packageSourceCredentials>
</configuration>
